body{
    font-family: PingFangSC-Medium, PingFang SC, 'Microsoft YaiHei', Arial, Helvetica, sans-serif;
}
.hide{ 
    display: none;
}
.btn{
    display: flex;
    align-items: center;
    height: 48px;
    background: rgba(255, 255, 255, 0.22);
    border-radius: 24px;
    backdrop-filter: blur(2px);
    line-height: 48px;
    font-size: 20px;
    padding:0 60px;
    color: #fff;
    cursor: pointer;
}
.btn:hover{
    background: rgba(255, 255, 255, 0.15);
}
.btn img{
    margin-left: 10px;
    width: 24px;
    height: 24px;
}

.btn.btn-fade{
    background: rgba(0, 0, 0, 0.3);
}

header{
    height: 66px;
    width: 100vw;
    position: fixed;
    z-index: 999;
    background: transparent;
}
/* 以下未非全局fullpage的样式，需要在header里添加class */
header.context{
    background: #fff;
    color: #000;
}

.logo{
    margin-left: 72px;
    width: 200px;
    height: 40px;
    margin-top: 13px;
}
.index-nav{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: inline-block;
    border-bottom: 1px solid;
    border-color: #f2f2f2;
}
.index-nav-frame{
    margin: 0 auto;
    float: right;
    margin-right: 60px;
}
.index-nav-frame-line{
    float: left;
    position: relative;
    display: block;
    outline: none;
    cursor: pointer;
    width: 124px;
    line-height: 62px;
    text-align: center;
}
.index-nav-frame-line.active{
    color:#fff;
    border-bottom: 4px solid;
    border-color: #008cff;
}
.index-nav-frame-line:hover{
    color:#fff;
    background: #008cff;
    backdrop-filter: blur(2px);
}
.index-nav-frame-line a{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

header.context .index-nav-frame-line a.menu-title{
  color: #000;
  border: #000;
}
header.context .index-nav-frame-line:hover a.menu-title{
  color:#fff;
}

.index-nav-frame-line a:hover{
    background: transparent;
}

.index-nav-frame-line-center{
    /* color: #fff; */
    opacity: 0;height: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;/* Firefox 4 */
    -o-transition: all 0.5s; /* Opera */
}
.index-nav-frame-line-center .container{
    background: #008cff;
    opacity: 1;
    /**margin-top: 8px;**/
    padding-top: 8px;
    padding-bottom: 8px;
}
.index-nav-frame-line-li{
    height:45px;
    line-height:45px;
    overflow:hidden;
    vertical-align:middle;
}
.index-nav-frame-line-li a{
    /**width: 93%;
    text-align: center;
    height: 34px;
    font-weight: 300;
    margin: 5px auto;
    position: absolute;
    top: 50%;**/
}
.index-nav-frame-line-li:hover{
    /**background: rgba(255, 255, 255, 0.19);
    border-radius: 6px;
    font-weight: 500;**/
    background-color: #fff;
}
.index-nav-frame-line-li:hover a{
    color: #000;
}

.index-nav-frame-line-focus:focus{display: none;}
.index-nav-frame-line:hover .index-nav-frame-line-center{height:auto;opacity: 1;}


.nav-line{height: 50px;width: 100%;position: relative;display: none;outline: none;}
.nav-small{width: 30px;height: 30px;position: absolute;right: 10px;top:10px;cursor: pointer;display: none;outline: none;}
.nav-small img{width: 100%;height: 100%;object-fit: cover;}
.nav-small-focus{position: absolute;width: 100%;height: 100%;display: none;}
.nav-small-focus:focus{display: none;}

/* main */
main{
    min-height: calc(100vh - 350px);
    
}
main.context{
    background: #F0F3F8;;
}


/* 底部 */
.footer{
    min-height: 100px;
    width: 100%;
    background-color: #222222;
}
.footer .container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.footer a{
    text-decoration: none;
    color: #9fa3a6;
}
.footer ul{
    list-style: none;
}
.footer ul li{
    font-size: 14px;
    line-height: 30px;
    float: left;
    width: 80px;
}
.footer .footernav{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.footer .full-footer-line{
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #9fa3a6;
    position: relative;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #9fa3a6;
    font-size: 12px;
}
.sub-footer{
    /**margin-right: 110px;
    margin-left: 110px;**/
    width: 50%;
}
.sub-footer .sub-footer-part {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.sub-footer .sub-footer-title{
    font-size: 18px;
    font-weight: bold;
    line-height: 25px;
    margin-top: 30px;
    margin-right: 20px;
    float: left;
}

.sub-footer .sub-footer-content{
    width: 80%;
    margin-top: 30px;
}

.sub-footer-barcodes{
    display: flex;
    margin-top: 30px;
}
.sub-footer-barcodes .img-container{
    width: 25px;
    height: 25px;
    border-radius: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-footer-barcodes .img-container:hover{
    /**width: 100px;
    height: 100px;**/
}

.sub-footer-barcodes .barcode-container{
    position: absolute;
    z-index: 99;
    top:40px;
}


.sub-footer-barcodes li{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.sub-footer-barcodes li a{
    font-size: 12px;
    margin-top: 12px;
    line-height: 17px;
}


@media only screen and (max-width:1100px) {
	.index-nav-frame-line-li a{display: block;color: white;}
	.nav-line{display: block;}
	.nav-small{display: block;}
	.nav-small:focus~.index-nav-frame-line{height: auto;border-bottom: 1px solid #ccc;}
	.nav-small:focus .nav-small-focus{display: block;}
	.index-nav-frame{width: 100%;}
	.index-nav-frame-line{width: 100%;height: 0;overflow: hidden;}
	.index-nav-frame-line-center{position: relative;background: #444359;}
	.index-nav-frame-line:hover .index-nav-frame-line-center{height:0;opacity: 0;    color:#fff;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        backdrop-filter: blur(2px);}
	.index-nav-frame-line-li{border-bottom: 1px solid #4b4a5e;color: #d9d9d9;background: #444359;}
	.index-nav-frame-line-li:hover{background: #b63b4d;}
	.index-nav-frame-line:focus{height: auto;border-bottom: 1px solid #ccc;}
	.index-nav-frame-line:focus>.index-nav-frame-line-center{height:auto;opacity: 1;}
	.index-nav-frame-line:focus .index-nav-frame-line-header{color: #B63B4D;}
	.index-nav-frame-line-focus{display: none;width: 100%;height: 50px;position: absolute;left: 0;top: 0;}
	.index-nav-frame-line:focus .index-nav-frame-line-focus{display: block;}

}
