:root {
    --min-width: 980px;
    --header-height: 50px;
}

/*清除默认样式*/
* {
	margin: 0;
	padding: 0;
}

body{
    color: #262626;
	/**font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
    font-family: PingFangSC-Lignt, PingFangSC;
}

/*设置整个页面大小*/
.main {
	width: 100%;
}

/*设置导航栏*/
.header {
	/*将导航栏固定*/
	height: var(--header-height);
    width: 100vw;
    position: fixed;
	top: 0;
    z-index: 999;
	background-color: rgba(48, 48, 51, 0.9);
}

.header .container{
    max-width: var(--min-width);
    margin: 0 auto;
}

.logo{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.index-nav-frame{
    margin: 0 auto;
    float: right;
}
.index-nav-frame-line{
    float: left;
    position: relative;
    display: block;
    outline: none;
    cursor: pointer;
    width: 124px;
    line-height: 46px;
    text-align: center;
}
.index-nav-frame-line.active{
    color:#fff;
    border-bottom: 4px solid;
    border-color: rgba(48, 48, 51, 0.9);
}
.index-nav-frame-line:hover{
    color:#fff;
    background: rgba(48, 48, 51, 0.9);
    backdrop-filter: blur(2px);
}
.index-nav-frame-line a{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.header.context .index-nav-frame-line a.menu-title{
  color: #000;
  border: #000;
}
.header.context .index-nav-frame-line:hover a.menu-title{
  color:#fff;
}

.index-nav-frame-line a:hover{
    background: transparent;
}

.index-nav-frame-line-center{
    /* color: #fff; */
    opacity: 0;height: 0;
    position: absolute;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;/* Firefox 4 */
    -o-transition: all 0.5s; /* Opera */
}
.index-nav-frame-line-center .container{
    background: rgba(48, 48, 51, 0.9);
    opacity: 1;
    /**margin-top: 8px;**/
    padding-top: 8px;
    padding-bottom: 8px;
}
.index-nav-frame-line-li{
    height:45px;
    line-height:45px;
    overflow:hidden;
    vertical-align:middle;
}
.index-nav-frame-line-li a{
    /**width: 93%;
    text-align: center;
    height: 34px;
    font-weight: 300;
    margin: 5px auto;
    position: absolute;
    top: 50%;**/
}
.index-nav-frame-line-li:hover{
    /**background: rgba(255, 255, 255, 0.19);
    border-radius: 6px;
    font-weight: 500;**/
    background-color: #fff;
}
.index-nav-frame-line-li:hover a{
    color: #000;
}

.index-nav-frame-line-focus:focus{display: none;}
.index-nav-frame-line:hover .index-nav-frame-line-center{height:auto;opacity: 1;}


/*内容部分*/
.content {
	margin-top: var(--header-height);
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.section { 
	width: 100%;
	height: 100%;
}

/*末尾部分*/
.footer {
	width: 100%;
	background-color: #F2F2F2;
}

.footer .container {
	margin: 0px auto;
	width: var(--min-width);
}

.foot-top {
	color: #888888;
	font-size: 12px;
	font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	padding: 0px 0px 9.6px;
}

.foot-list {
	padding: 20px 0px 0px;
	font-size: 12px;
	color: #555555;
	width: 100%;
	height: 150px;
	font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.foot-contact {
	font-size: 12px;
	color: #555555;
	width: 100%;
	height: 30px;
	font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.foot-contact .img-container{
	float: right;
    position:relative;
    cursor:pointer;
}

.barcode {
	width: 25px;
    height: 25px;
    
}
.foot-contact .img-container .barcode-container{
  visibility:hidden;
  position:absolute;
  left: -30px;
  bottom: 30px;
  width:100px;
  height:100px;
}
.foot-contact .img-container .barcode-container img{
  width: 100%;
}
.foot-contact .img-container:hover .barcode-container{
  visibility:visible;
}

.list-first {
	width: 20%;
	height: 100%;
	float: left;
}

.list-first ul li {
	list-style: none;
	margin: 0px 0px 9.6px;

}

.foot-title {
	margin: 0px 0px 9.6px;
	color: #333333;
	font-weight: bold;
}

.list-first ul li a {
	/*cursor 移入 手形-*/
	cursor: pointer;
	text-decoration: none;
    color: #333333;
}

.list-first ul li a:hover {
	text-decoration: underline;
}

.foot_top {
	width: var(--min-width);
	height: 25px;
	font-size: 12px;
	font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #888888;
	margin: 34px 0px 5px;
}

.foot_top span {
	color: #0070C9;
}

.bottom {
	width: var(--min-width);
	height: 40px;
	font-size: 12px;
	font-family: "SF Pro SC", "HanHei SC", "SF Pro Text", "Myriad Set Pro", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	color: #888888;
	padding: 5px 0px 5px;
}
.bottom a {
	font-size: 1px;
	text-decoration: none;
	margin: 0px 0px 0px 20px;
	color: rgba(29, 29, 31, 0.5);
}
