.news-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

.news-content {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.news-content h1 {
    text-align: center;
}

.news-content a {
    text-decoration: none;
    color: var(--color);
}

@media (min-width: 78em) {
    .news-wrapper  {
        width: var(--min-width);
    }
}

.banner{
    width: 100%;
    position:relative;
    color: #fff;
}

.banner .banner-img{
    width: 100%;
}

.logo-rect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 133px;
    width: 422px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    backdrop-filter: blur(4px);

}

.joinus {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding-right: 20px;
}

.boss {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding-right: 20px;
}

.btn-rect{
    display: flex;
    align-items: center;
    height: 38px;
    background: rgba(216, 216, 216, 0);
    border: 1px solid var(--color);
    line-height: 38px;
    font-size: 16px;
    padding:0 27px;
    color: var(--color);
    cursor: pointer;
    width: 150px;
}

.btn-rect img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.news-container{
    /* display: grid;
    grid-template-columns: repeat(3,33.33%);
    grid-gap: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* justify-content: space-between; */
   
}
.news-container a{
    text-decoration: none;
}




.news-item{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 6px;
    color: #000000;
    margin-bottom: 28px;
    margin-right: 30px;
}
.news-item:nth-child(3n){
    margin-right: 0px;
}





.news-item img{
   
    height: 220px;;
}
.news-item .news-title{
    font-size: 18px;
    line-height: 25px;
    padding-left:14px;
    padding-top:10px;
    padding-bottom:10px;
}

.news-item .news-date{
    color: #000;
    font-size: 14px;
    line-height: 20px;
    padding-left:14px;
    padding-bottom:8px
}

.btn-more{
    width: 118px;
    height: 38px;
    background: rgba(216, 216, 216, 0);
    border-radius: 6px;
    text-align: center;line-height: 38px;border: 1px solid #000000;
    cursor:pointer;
    margin-bottom: 20px;
}
.btn-more:hover{
    border: 1px solid #999;
    color: #999;
}
.btn-more span{
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    vertical-align: middle;
}

@media only screen and (max-width:1242px) {
    .news-item:nth-child(3n){
        margin-right: 30px;
    }
}