.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section {
    width: 100%;
}
.section1 { 
    /* background: url(../images/company-product1.png) no-repeat;
    background-size:100% auto;
    background-position-y: calc(100vh - 100vw / 1280px * 544px); */
    position: relative;
}
.section1 .bg-img{
    width: 100%;
    /**position: absolute;
    left: 0;
    bottom: 0;**/
}
.section2 { 
    background-repeat: no-repeat;
    background-size:cover;
    background-position-y: 66px;
}

.section3 { background: transparent;}
.context-show{
    background: #F0F3F8;
    min-height: calc(100vh);
   
}
.fp-tableCell{
    vertical-align: baseline;
}

.center-show{
    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    margin-top: -200px;
}



.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.action.top{
    top: 0px;
    bottom: auto;
    z-index: 9;
}
.action .act{
    margin-top: 50px;
    cursor: pointer;
}

 h1{
    font-size: 56px;
    line-height: 78px;
    text-align: center;
    margin-top: calc(80px + 20%);

}
 h3{
    font-size: 40px;
    line-height: 56px;
    margin-top: 20px;
    width: 640px;
    text-align: center;
}

.right-full-container{
    width: 50%;
    height: calc(100vh - 80px);
    top: 80px;
    position: absolute;
    right: 0;
}

.detail-container{
    margin-top: 120px;
    /* background: rgba(0, 0, 0, 0.49); */
    /* backdrop-filter: blur(5px); */
    width: 600px;
    height: 600px;
    /* padding: 20px 10px; */
    color: #000;
    margin-left: 20px;
}
.detail-container h3{
    width: 100%;
}
.detail-container .params-container{
    width: 100%;
    margin-top: 20px;
}
.detail-container .param-box{
    text-align: center;
    margin-bottom: 30px;
}
.detail-container .param-box.active, .detail-container .param-box:hover{
    color: #fff;
}
.section-container{
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-container.clothes{
    flex-direction: column;
}
.table-container{
    display: flex;
    justify-content: center;
    font-size: 24px;
    margin-top: 20px;
}
.table-container table{
    width: 80%;
    min-width: 500px;
}
.table-container tr{
    border-top: 1px solid #ccc;
    height: 50px;
}
.table-container table td{
    line-height: 1.5;
}


.demos-container{
  
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demos-title{
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    line-height: 1.5;
}
.demo{
    width: 200px;
    margin-top: 20px;
}
.demo:not(:last-child){
    margin-right: 20px;
}
.demo-title{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-bottom: 1px solid  #ccc;
    padding-bottom: 20px;
    font-weight: bold;
}
.demo-title img{
    margin-right: 10px;
}

.demo-desc{
    padding: 20px 15px;
    font-size: 18px;
    text-align: center;
    line-height: 1.5;
    height: 90px;
}
.demo-img-before, .demo-img-after{
    height: 200px;
    display: flex;
    align-items: center;
}
.demo-img-after{
    filter: grayscale(100%);
    margin-top: 20px;
}


.right-show{
    width: 50%;
    background: rgba(0, 0, 0, 0.49);
    backdrop-filter: blur(5px);
    height: 100%;
    color: #fff;
    padding-left: 40px;
    position: absolute;
    right: 0;
}

.right-show h3{
    margin-top: 150px;
    text-align: left;
    margin-bottom: 20px;
}

.right-show .params-container{
    width: 540px;
}

.param-box{
    width: 250px;
    height: 78px;
    display: block;
    float: left;
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}
.param-box .param-title{
    font-size: 20px;
    height: 28px;
    line-height: 28px;
    font-weight: 500;
    
}

.param-box .param-text{
    line-height: 20px;
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
}

.param-box:nth-child(even){
    margin-left: 40px;
}

.param-box.active, .param-box:hover{
    background: rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.detail-box{
    clear: both;
    margin-top: 30px;
    padding-top: 30px;
    line-height: 1.6;
    
}
.detail-text{
    border-top: 1px solid #fff;
    padding-top: 30px;

}

.newslist-container{
    
     padding-left: 28px;
     padding-top: 92px;
}

.news-show{
    display: flex;
    flex-direction: row;
}
.desc{
    padding-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.desc .desc-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;

}
.img-desc img{
    height: 20%;
}
.text-desc{
    padding-right: 80px;
}
.text-desc.right{
    padding-right: 0;
    padding-left: 80px;
}

.text-desc .text-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #677897;
    line-height: 65px;
    background: linear-gradient(90deg, #3F8BD3 0%, #A234D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-desc .text-content{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
    color: #677897;
    line-height: 42px;
    max-width: 516px;
}

h2{
    font-size: 30px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 42px;
}
.slider-container{
    width: 730px;
    position: relative;
}
.slider-container h2{
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}


.slider-container .tns-nav{
    position: absolute;
    z-index: 999;
    top: 368px;
    right: 14px ;
}
.slider-container .tns-nav > button{
    width: 8px;
height: 8px;
background: rgba(255, 255, 255, 0.5);
padding: 0px;
border-radius: 4px;
}
.slider-container .tns-nav > button.tns-nav-active{
    width: 24px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 5px;
}

.my-slider{
    overflow: hidden;
}
.slider—item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.slider-short{
  
    width: 100%;
    height: 70px;
    background: rgba(0, 0, 0, 0.49);
    border-radius: 0px 0px 6px 6px;

    color: #fff;
    margin-top: -75px;
    padding: 10px 14px;
}
.slider-short .title{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.slider-short .content{
    font-size: 12px;
    line-height: 17px;
    margin-top: 8px;
}
.news-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.news-item{
    display: flex;
    background: #fff;
    border-radius: 6px;
    width: 730px;
    color: #000000;
    margin-bottom: 28px;
    
}
.news-container{
    padding: 20px 20px 12px 14px;
}
.news-item .title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}
.news-item .content{
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 17px;
}
.news-item .date{
    color: #a0a0a0;
    font-size: 14px;
    line-height: 20px;
}

/**客户案例**/
.case-show{
    padding-top: 80px;
    flex-direction: column  ;
}
.case-h1{
    margin-top: 70px;
    text-align: center;
    width: 100%;
    font-size: 40px;
    font-weight: 600;
    color: #677897;
    line-height: 56px;
    background: linear-gradient(90deg, #3F8BD3 0%, #A234D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cases-container{
    display: block;
    margin: auto;
}
.case-item .case-title, .case-item .case-name{
    width: 100%;
    text-align: center;

}
.case-item .case-title{
    font-size: 20px;
    line-height: 28px;

}
.case-item .case-name{
    font-size: 16px;
    line-height: 1.2;
    color: #a0a0a0;
    padding-bottom: 10px;
}

.cases-container{
    display: flex;
    flex-direction: row;
}
.cases-left{
    width: 300px;
    margin-right: 28px;
}
.cases-left img{
    width: 300px;
}

.case-right .case-right-top{
    display: flex;
    flex-direction: row;
}
.case-right-top .case-right-top-left{
    margin-right: 28px;
}
.case-right-top .case-right-top-right img{
    width: 300px;
    height: 200px;
}
.case-right-down{
    display: flex;
    flex-direction: row;
}
.case-right-down img{
    width: 422px;
    height:270px;
}
.case-right-down .case-item:first-child{
    margin-right: 28px;
}

.left-show{
    width: 640px;
    color: #000;
    /* margin-left:  150px; */
    /* margin-top: 80px; */
    height: calc(100vh - 350px);
    display: block;
    position:absolute;
}
.left-show h1{
    text-align: right;
    font-size: 50px;
    font-family: PingFangSC-Lignt, PingFangSC;
    font-weight: 300;
    line-height: 70px;
}
.left-show h3{
    font-size: 30px;
    text-align: right;
    font-family: PingFangSC-Lignt, PingFangSC;
    line-height: 42px;
    font-weight: 100;
}
.left-full-container{
    width: 50%;
    position: absolute;
    top: 40px;
}
.pull-right{
    float: right;
}
.left-show h1,.left-show h3{
    text-align: right;
}

.left-full-container .img-container{
   display: flex;
   width: 100%;
   justify-content: right;
   margin-top: 80px;
   padding-right: 10px;
   filter: grayscale(100%);
}

.padding-top-0{
    padding-top: 0px;
}
@media only screen and (max-width:960px) {

    .left-show{
        margin-left: 0;
    }
}