.contact-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

.contact-content h1 {
    text-align: center;
}

.contact-info {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.contact-info .contact-title {
    size: 14px;
    color: #888888;
}

.contact-info a {
    text-decoration: none;
    color: var(--color);
}

@media (min-width: 78em) {
    .contact-wrapper  {
        width: var(--min-width);
    }
    
}