.contact-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

.contact-content h1 {
    text-align: center;
}

.contact-info {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.contact-info .contact-title {
    size: 14px;
    color: #888888;
}

.contact-info a {
    text-decoration: none;
    color: var(--color);
}

.pure-form input[type=password], 
.pure-form input[type=email], 
.pure-form input[type=url], 
.pure-form input[type=date], 
.pure-form input[type=month], 
.pure-form input[type=time], 
.pure-form input[type=datetime], 
.pure-form input[type=datetime-local], 
.pure-form input[type=week], 
.pure-form input[type=tel], 
.pure-form input[type=color], 
.pure-form input[type=number], 
.pure-form input[type=search], 
.pure-form input[type=text], 
.pure-form select, 
.pure-form textarea {
    border: 1px solid #d6d6d6;
    box-shadow: none;
    padding: 5px 8px;
    font-size: 14px;
}

.pure-form select {
    padding: 2px;
}

.pure-form input:not([type]):focus, 
.pure-form input[type=password]:focus, 
.pure-form input[type=email]:focus, 
.pure-form input[type=url]:focus, 
.pure-form input[type=date]:focus, 
.pure-form input[type=month]:focus, 
.pure-form input[type=time]:focus, 
.pure-form input[type=datetime]:focus, 
.pure-form input[type=datetime-local]:focus, 
.pure-form input[type=week]:focus, 
.pure-form input[type=tel]:focus, 
.pure-form input[type=color]:focus, 
.pure-form input[type=number]:focus, 
.pure-form input[type=search]:focus, 
.pure-form input[type=text]:focus, 
.pure-form select:focus, 
.pure-form textarea:focus {
    outline: 0;
    border-color: rgba(48, 48, 51, 0.9);
}

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
    background-color:  rgba(48, 48, 51, 0.9);
    color: #fff;
}

.pure-button {
    padding: 5px 10px;
}

@media (min-width: 78em) {
    .contact-wrapper  {
        width: var(--min-width);
    }
    
}