.slider-container{
    /**margin-top: 66px;**/
}
.slider-container img{
    width: 100%;
	height: calc(100vh - var(--header-height));
}
.slider-container .slider-item{
    position: relative;
}
.slider-container .slider-left-text{
    position: absolute;
    top:30%;
    left: 10%;
    color: #fff;
}
.slider-container .slider-right-text{
    position: absolute;
    top: 30%;
    right: 10%;
    color: #fff;
}
.slider-container .slider3 {
    top: 8%;
    left: 5%;
    color: #000;
}
.slider-container .slider4 {
    top: 3%;
    left: 10%;
    color: #000;
}
.rightleft{
    font-size: 50px;
    font-family: PingFangSC-Lignt, PingFangSC;
    font-weight: 300;
    line-height: 70px;
}
.leftright{
    font-size: 30px;
    text-align: right;
    font-family: PingFangSC-Lignt, PingFangSC;
    line-height: 42px;
    font-weight: 100;
}

.main-slider{
    position: relative;
}
.main-slider .tns-nav{
    position: absolute;
    z-index: 999;
    top: 90%;
    left: 50%;
}
.main-slider .tns-nav > button{
    width: 8px;
    height: 8px;
    background: rgba(200, 200, 200, 0.5);
    padding: 0px;
    border-radius: 4px;
    margin-left: 10px;
    border: none;
}
.main-slider .tns-nav > button.tns-nav-active{
    width: 30px;
    background: #FFFFFF;
}

.section2 { background: transparent;}

.left-show{

    width: 640px;
    color: #fff;
    margin-left:  150px;
    margin-top: 80px;
    height: calc(100vh - 350px);
    display: block;
}
.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 40px;
}
.action.top{
    top: 40px;
    bottom: auto;
}
.action .act{
    margin-top: 50px;
    cursor: pointer;
}

 h1{
    font-size: 56px;
    line-height: 78px;
    text-align: center;
    margin-top: calc(80px + 40%);

}
 h3{
    font-size: 40px;
    line-height: 56px;
    margin-top: 20px;
    width: 640px;
    text-align: center;
}
.newslist-container{
    
     padding-left: 28px;
     padding-top: 62px;
}

.news-show{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.desc{
    padding-top: 180px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.desc .desc-line{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 60px;

}
.img-desc img{
    height: 20%;
}
.text-desc{
    padding-right: 80px;
}
.text-desc.right{
    padding-right: 0;
    padding-left: 80px;
}

.text-desc .text-title{
    font-size: 2.8rem;
    font-weight: 600;
    color: #677897;
    line-height: 65px;
    background: linear-gradient(90deg, #3F8BD3 0%, #A234D5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.text-desc .text-content{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 300;
    color: #677897;
    line-height: 42px;
    max-width: 516px;
}

h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 42px;
}
.news-slider-container{
    width: 730px;
    position: relative;
}
.news-slider-container h2{
    text-align: left;
    width: 100%;
    margin-bottom: 20px;
}


.news-slider-container .tns-nav{
    position: absolute;
    z-index: 999;
    top: 90%;
    right: 14px;
}
.news-slider-container .tns-nav > button{
    width: 8px;
    height: 8px;
    background: rgba(255, 255, 255, 0.5);
    padding: 0px;
    border-radius: 4px;
}
.news-slider-container .tns-nav > button.tns-nav-active{
    width: 24px;
    height: 8px;
    background: #FFFFFF;
    border-radius: 5px;
}

.my-slider{
    overflow: hidden;
}
.my-slider.slider—item{
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}
.slider-short{
  
    width: 100%;
    background: #000000;
    border-radius: 0px 0px 6px 6px;
    opacity: 0.5;
    color: #fff;
    margin-top: -75px;
    padding: 10px 14px;
}
.slider-short .title{
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
}
.slider-short .content{
    font-size: 12px;
    line-height: 17px;
    margin-top: 8px;
}
.news-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.news-item{
    display: flex;
    background-color: #edf1f4;
    border-radius: 6px;
    width: 730px;
    color: #000000;
    margin-bottom: 28px;
    
}
.news-container{
    padding: 20px 20px 12px 14px;
}
.news-item .title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 12px;
}
.news-item .news-content{
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 17px;
}
.news-item .date{
    color: #a0a0a0;
    font-size: 14px;
    line-height: 20px;
}

@media only screen and (max-width:960px) {

    .left-show{
        margin-left: 0;
    }
}

    body::-webkit-scrollbar{

    display:none;/* Chrome Safari */
    
    }
    
    body{
    
    scrollbar-width:none;/* firefox */
    
    -ms-overflow-style:none;/* IE 10+ */
    
    overflow-x:hidden;overflow-y:auto;
    
    }
