.joinus-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

.joinus-content {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.joinus-content h1 {
    text-align: center;
}

.joinus-content a {
    text-decoration: none;
    color: var(--color);
}

@media (min-width: 78em) {
    .joinus-wrapper  {
        width: var(--min-width);
    }
}

.banner{
    width: 100%;
    position:relative;
    color: #fff;
}

.banner .banner-img{
    width: 100%;
}

.logo-rect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 133px;
    width: 422px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    backdrop-filter: blur(4px);

}

.joinus {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding-right: 20px;
}

.boss {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
    padding-right: 20px;
}

.btn-rect{
    display: flex;
    align-items: center;
    height: 38px;
    background: rgba(216, 216, 216, 0);
    border: 1px solid var(--color);
    line-height: 38px;
    font-size: 16px;
    padding:0 27px;
    color: var(--color);
    cursor: pointer;
    width: 150px;
}

.btn-rect img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}