.section1 {
    background: url(../images/mr/1.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section2 {
    background: url(../images/mr/2.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section3 {
    background: url(../images/mr/3.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section4 {
    background: url(../images/mr/4.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section5 {
    background: url(../images/mr/5.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section6 {
    background: url(../images/mr/6.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section7 {
    background: url(../images/mr/7.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section8 {
    background: url(../images/mr/8.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section9 {
    background: url(../images/mr/9.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section10 {
    background: url(../images/mr/10.jpg) no-repeat center center;
    background-size:cover;
    width: 100%;
	height: calc(100vh - var(--header-height));
}

.section-content .h3{
    font-size: 36px;
}

.section-content .h1{
    font-size: 54px;
    font-weight: bold;
}

.section-content .desc {
    font-size: 26px;
    line-height: 1.5;
}

.white {
    color: #fff;
}

.black {
    color: #262626;
}

.section1-show{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.section1-show .btn-container{
    margin-top: 36px;
}

.left-show{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 150px;
    width: 600px;
}

.right-show{
    width: 95%;
    display: flex;
    justify-content: right;
    /**padding-right:  50px;
    padding-top: 80px;**/
    height: calc(100vh - 50px);
}

.section2-show{
    width: 95%;
    display: flex;
    justify-content: right;
    /**padding-right:  50px;
    padding-top: 80px;**/
    height: calc(100vh - 50px);
}

.section2-content {
    width: 40%;
    color: #262626;
    align-self: center;
}

.section4-show{
    width: 95%;
    display: flex;
    justify-content: right;
    /**padding-right:  50px;
    padding-top: 80px;**/
    height: calc(100vh - 50px);
}

.section4-content {
    width: 40%;
    color: #262626;
    align-self: center;
}

.section5-show{
    width: 640px;
    color: #fff;
    height: 100%;
    display: flex;
    align-items: flex-end;
    margin-top: 0px;
    margin-left: 220px;
    padding-bottom: 30px;
}

.section5-show .h1 {
    text-align: center;
}

.section5-show .info-container {
    margin-top: 18px;
}


div .msg-container{
    margin-top: 112px;
    font-size: 32px;
}
div .desc-container{
    margin-top: 22px;
}
div .info-container{
    margin-top: 18px;
}

.btn-rect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    line-height: 38px;
    font-size: 20px;
    padding:0 27px;
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 230px;
    margin: auto; 
}