.about-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

@media (min-width: 78em) {
    .about-wrapper  {
        width: 980px;
    }
}

.banner{
    width: 100%;
    position:relative;
    color: #fff;
}

.banner .banner-img{
    width: 100%;
}

.banner-short{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-rect{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    backdrop-filter: blur(4px);
    padding: 20px;
}

.logo-rect img {
    width: 100px;
    height: 100px;
}

.logo-rect .title {
    margin-left: 20px;
}

.logo-rect .banner-name {
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 8px;
}

.logo-rect .banner-english {
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 4px;
}

.about-content {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.about-content h1 {
    text-align: center;
}

.about-content a {
    text-decoration: none;
    color: #262626;
}

.about-content ul, ol, li {
    list-style: none;
    /* margin-left: 0.1rem; */
    vertical-align: top;
}

.about-content li {
    width: 30%;
    height: 200px;
    padding: 0;
    margin-right: 3%;
    margin-bottom: 20px;
    float: left;
    border-radius: 0.1rem;
    box-sizing: border-box;
    text-align: center;
    transition: all .3s cubic-bezier(.4,0,.2,1) 0s;
    position: relative;
}

.about-content li img {
    width: 100px;
    height: 100px;
    margin: 0.6rem auto 0.4rem;
    border-radius: 50%;
    position: relative;
    z-index: 2;
}

.about-content h3 {
    font-size: 16px;
    color: #004ea2;
    font-weight: 400;
    margin: 0.25rem 0 0.1rem;
    letter-spacing: 0.020000rem;
}

.about-content .team-p {
    font-size: 16px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    text-align: justify;
    text-justify: inter-ideograph;
    text-align: center;
}

.about-content li:hover:after {
    box-shadow: 0 0 0.2rem rgb(0 78 162 / 20%);
}

.about-content li:after {
    content: "";
    width: 100%;
    height: 120px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    border-radius: 5px;
    /*box-shadow: 0 0 0.2rem rgb(175 175 175 / 20%);*/
    box-shadow: 0 0 0.2rem rgb(0 78 162 / 20%);
}

.about-content li:hover .team-box{
    opacity:0.8;
}

.about-content .team-box {
    border-radius: 5px;
    background: rgba(48, 48, 51, 0.9);
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding: 10%;
    color: #fff;
    box-sizing: border-box;
    opacity: 0;
    text-align: left;
}