.about-wrapper {
	margin: 0px auto;
    padding: 0px 20px;
}

.about-content {
	margin: 0px auto;
    padding: 20px;
    line-height: 30px;
}

.about-content h1 {
    text-align: center;
}

.about-content a {
    text-decoration: none;
    color: var(--color);
}

@media (min-width: 78em) {
    .about-wrapper  {
        width: var(--min-width);
    }
}

.banner{
    width: 100%;
    position:relative;
    color: #fff;
}
.banner-short{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner .banner-img{
    width: 100%;
}

.logo-rect{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 133px;
    width: 422px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    backdrop-filter: blur(4px);

}